{% extends 'base.html' %}

{% block content %}
    {% if pizzas %}
        <ul>
            {% for pizza in pizzas %}
                <li>{{ pizza.name }}</li>
                <li>{{ pizza.company.name }}</li>
                <img src="{{ pizza.image.url }}" class="card-img-top" alt="...">
            {% endfor %}
        </ul>
    {% else %}
        <p>No pizzas found</p>
    {% endif %}
{% endblock %}