{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <title>PIZZASHOP</title>
</head>

<body>
<div class='dashboard'>
    <div class="dashboard-nav">
        <header><a href="#!" class="menu-toggle"><i class="fas fa-bars"></i></a><a href="#"
                                                                                   class="brand-logo"><i
                class="fas fa-anchor"></i> <span>PIZZASHOP</span></a></header>
        <nav class="dashboard-nav-list"><a href="{% url 'home:home' %}" class="dashboard-nav-item"><i
                class="fas fa-home"></i>Home </a>
            <a href="{% url 'home:add_pizza' %}" class="dashboard-nav-item"><i class="fas fa-home"></i>Add Pizza</a>
            <a href="#" class="dashboard-nav-item active"><i class="fas fa-tachometer-alt"></i> All Pizzas
            </a>
            <div class='dashboard-nav-dropdown'><a href="#!" class="dashboard-nav-item dashboard-nav-dropdown-toggle"><i
                    class="fas fa-photo-video"></i> Media </a>
                <div class='dashboard-nav-dropdown-menu'><a href="#"
                                                            class="dashboard-nav-dropdown-item">All</a><a
                        href="#" class="dashboard-nav-dropdown-item">Recent</a><a
                        href="#" class="dashboard-nav-dropdown-item">Images</a><a
                        href="#" class="dashboard-nav-dropdown-item">Video</a></div>
            </div>
            <a href="#" class="dashboard-nav-item"><i class="fas fa-cogs"></i> Settings </a><a
                    href="#" class="dashboard-nav-item"><i class="fas fa-user"></i> Profile </a>
            <div class="nav-item-divider"></div>
            <a
                    href="#" class="dashboard-nav-item"><i class="fas fa-sign-out-alt"></i> Login </a>
        </nav>
    </div>
    <div class='dashboard-app'>
        <header class='dashboard-toolbar'><a href="#!" class="menu-toggle"><i class="fas fa-bars"></i></a></header>

        {% block content %}

        {% endblock %}

    </div>


</div>


</body>

<script src="{% static 'js/main.js' %}"></script>
</html>